@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC|Raleway');

h1 {
  font-family: 'Holtwood One SC', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: auto;
}

h2, h3, h4, p, small {
  font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}