@import 'reset';
@import 'typography';
@import 'colors';
@import 'search';
@import 'filter';
@import 'beerlist';
@import 'beer';

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgb(247, 240, 226);
  color: $white;
}

header {
  background: rgb(112, 10, 10);
  color: $white;
  margin-bottom: 30px;
  min-height: 15vh;
  vertical-align: middle;
  
  h1 {
    line-height: 15vh;
    height: 100%;
  }
}

#app {
  max-width: 80vw;
  margin: auto;
  text-align: left;
  color: $black;
}

