@import 'reset';
@import 'typography';
@import 'colors';

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgba(23, 59, 98, 1);
  color: $white;
}

#app {
  max-width: 80vw;
  margin: auto;
  text-align: left;
  color: $black;
}

.beer {
  padding: 15px;
  box-shadow: 2px 2px 10px 0px rgba(150, 150, 150, .4);
  background-color: $white;
  margin: 30px;
  border-radius: 3px;
}

.beer-info {
  float: left;
}

.beer-pic {
  max-height: 150px;
}

.pic-koozie {
  width: 20vh;
  float: right;
  text-align: center;
}

.clearfix {
  clear: both;
}